<%= form_with(model: section) do |form| %>
  <div>
    <%= form.text_field :name, placeholder: "Section Name" %>
  </div>

  <div class="hidden">
    <%= form.text_field :event_id, value: current_event.id %>
  </div>

  <% if section.errors.any? %>
    <div class="error">
      <% section.errors.each do |error| %>
        <%= error.full_message %><br>
      <% end %>
    </div>
  <% end %>

  <div class="submit_button">
    <%= form.submit :id => "create", :class => "button" %>
  </div>
<% end %>
