<div class="top">
    <div class="top_wrapper">
        Picnic
        <%= button_to "Log In", "/login", method: :get, :class => "button" %>
    </div>
</div>
<div class="wrapper">
  <% if flash[:notice] %>
    <div class="denied"><%= flash[:notice] %></div>
  <% end %>

  <div class="form_wrapper">
    <h1>Create New Event</h1>
    <%= form_for @event do |f| %>
        <%= f.text_field :name, placeholder: "Event Name" %><br>
        <%= f.password_field :password, placeholder: "Password" %><br>
        <% if flash[:error] %>
            <div class="error"><%= flash[:error] %></div>
        <% end %>
        <div class="submit_button">
          <%= f.submit "Create", :class => "button" %>
        </div>
    <% end %><br>
  </div>
</div>